@import '../../theme/sass/conf/conf';
.a_m40 {
    margin-bottom: 40px;
}
.a_edit_account_form_section {
    // padding: 50px 20px 80px;
    border-radius: 7px 7px 0 0;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    padding: 50px 100px 0;
    margin-bottom: 70px;
    h1 {
        text-align: center;
        margin: 0 0 30px;
    }
}
.a_edit_account_form {
    .a_form_block {
        padding-top: 100px;
    }
    // max-width: 765px;
    // width: 100%;
    margin: 0 auto;
    .a_profile {
        width: 100%;
        max-width: 210px;
        height: 210px;
        // display: table;
        border-radius: 100%;
        overflow: visible;
        text-align: center;
        background-color: #b4b9be;
        // margin-top: -60px;
        float: left;
        img {}
        span {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            background-color: #b4b9be;
            font-size: 95px;
            font-weight: bold;
            color: #fff;
        }
    }
    .a_edit_link {
        color: #79bae7;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        font-weight: bold;
    }
    .a_del_link {
        color: #dd4747;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        font-weight: bold;
    }
    label {
        color: #4a73a2;
        font-size: 16px;
        font-weight: bold;
    }
    .form-group {
        span.text-danger {
            padding: 5px 0px;
            display: block;
        }
    }
    .a_btn_file {
        position: relative;
        width: 185px;
        height: 185px;
        margin: 0 auto 50px;
        display: block;
        border-radius: 50%;
        background-color: #d8d8d8;
        background-image: url($a_images-root + 'file-upload.png');
        background-repeat: no-repeat;
        input[type="file"] {
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width: 0;
            height: 0;
            outline: none;
            cursor: inherit;
        }
        .fa {
            background-color: #4a73a2;
            padding: 9px 0 9px 2px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: #fff;
            border-radius: 50%;
            width: 43px;
            height: 43px;
            font-size: 22px;
            text-align: center;
        }
    }
    .form-group {
        margin-bottom: 30px;
    }
    .a_select_icon {
        position: relative;
        .form-control {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
    .a_select_icon::after {
        content: '';
        width: 9px;
        height: 14px;
        background-image: url(/assets/images/select-icon.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 15px;
        top: 18px;
    }
    .form-control {
        padding-left: 49px;
    }
    h3 {
        margin: 0 48px 25px 0;
        display: inline-block;
        vertical-align: top;
        color: #4a73a2;
    }
    .a_checkbox_list {
        margin-bottom: 30px;
    }
    .a_radio_list {
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: top;
        li {
            margin-right: 119px;
        }
    }
    .a_blue_btn {
        img {
            margin-top: -10px;
        }
    }
}
.a_select_no_icon .form-control {
    color: #7f8082;
    font-size: 18px;
    border-width: 1px;
    background-color: #fff;
    border-style: solid;
    border-color: #e0e0e0;
    padding-left: 12px;
    height: 52px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-right: 13px;
}
@media screen and (max-width: 1170px) {
    .a_edit_account_form_section {
        padding: 0;
        border-style: none;
    }
    .a_edit_account_form {
        .a_profile {
            margin-top: 0;
            max-width: 150px;
            height: 150px;
        }
        .a_form_block {
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .a_edit_account_form {
        .a_profile {
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: $resXXS) {
    .a_client_form_section {
        padding: 40px 10px 30px;
        h2 {
            margin: 0 0 15px;
        }
    }
    .a_new_client_form {
        .a_btn_file {
            margin-bottom: 25px;
            width: 130px;
            height: 130px;
            background-size: 100% 100%;
            .fa {
                right: 3px;
                bottom: 3px;
                width: 36px;
                height: 36px;
                font-size: 18px;
            }
        }
        .form-group {
            margin-bottom: 15px;
        }
        h3 {
            margin: 0 0 15px 0;
            display: block;
        }
        .a_checkbox_list {
            margin-bottom: 15px;
            li {
                float: none;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        .a_radio_list {
            margin-bottom: 15px;
            display: block;
            li {
                float: none;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}