<div class="zone-detail">
  <p #textContent [id]="uid || 'read-more'" [innerHTML]="currentText">
  </p>
  <!-- <div *ngIf="zoneData && zoneData.length >= 430"  class="a_show_more">
    <a readMore [readMore-length]="430" [readMore-element]="textContent" [readMore-text]="zoneData">
      <strong class="less btn btn-link">Show Less
      </strong>
      <strong class="more btn btn-link">...Read More
      </strong>
    </a>
  </div>   -->
  <!-- <div class="a_show_more">
    <a readMore [readMore-length]="430" [readMore-element]="textContent" [readMore-text]="zoneData">
      <strong class="less btn btn-link">Show Less
      </strong>
      <strong class="more btn btn-link">...Read More
      </strong>
    </a>
  </div> -->
</div>
