:host{
  .a_distributor_selector_section{
    padding-top: 20px;
  }
  .a_hr {
    margin: 0 0 20px;
    border-color: #bcdcf3;
    border-width: 2px;
}
.a_h5 {
  color: #003a70;
  font-size: 20px;
  margin-bottom: 20px;
}
.a_h4 {
  color: #003a70;
  font-size: 24px;
  margin-bottom: 20px;
}
}
.a_ds_boxes {}
.a_ds_box {
    background-color: #bcdcf3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    min-height: 190px;
}
