<section class="a_section a_dashbord_section">
    <div class="a_license_information_block mb-5" *ngIf="!accountDetail?.Subscription">
        <div class="table-responsive a_simple_table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="a_mw_500 text-left" colspan="2">LICENSE UPGRADE INFORMATION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="a_br_none text-left">Current License Type</td>
                        <td class="text-right a_blue_color">
                            {{ (accountDetail?.Account?.License?.SubscriptionId) ? 'Monthly Subscription' : 'Demo' }} |
                            <span [ngClass]="{'a_green' : accountDetail?.Account?.License?.Active, 'a_red' : !accountDetail?.Account?.License?.Active}">{{ (accountDetail?.Account?.License?.Active) ? 'Active' : 'Inactive' }}</span>
                            <!-- DEMO | 
                          <span class="a_green">Active</span> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="a_br_none text-left">Expiration Date</td>
                        <td class="text-right a_blue_color">
                            {{expiryDate | date:'MM/dd/y hh:mm a' }}
                        </td>
                    </tr>
                    <tr>
                        <td class="a_br_none text-left">New License Type</td>
                        <td class="text-right a_blue_color">
                            Monthly Subscription
                        </td>
                    </tr>
                    <tr>
                        <td class="a_br_none text-left">Subscription Price</td>
                        <td class="text-right a_blue_color">
                            {{ productInfo?.Plan?.Price | currency:'USD':'4.2-2' }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="add-card-details" *ngIf="!accountDetail?.Subscription">
        <h6 class="a_form_label">Credit Card Details</h6>
        <br>
        <form [formGroup]="cardForm">
            <div class="row">
                <div class="col-sm-12">
                    <label for="" class="a_form_label">Name</label>
                    <div class="form-group">
                        <input class="form-control" [formControl]="cardForm?.controls['Name']" placeholder="" type="text" [ngClass]="{'has-error':!cardForm?.controls['Name']?.valid && cardForm?.controls['Name']?.touched}">
                        <span class="text-danger" *ngIf="cardForm?.controls['Name']?.hasError('required') && (cardForm?.controls['Name']?.dirty || cardForm?.controls['Name']?.touched)">This field is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="" class="a_form_label">Address</label>
                    <div class="form-group">
                        <input class="form-control" [formControl]="cardForm?.controls['Line1']" placeholder="" type="text" [ngClass]="{'has-error':!cardForm?.controls['Line1']?.valid && cardForm?.controls['Line1']?.touched}">
                        <span class="text-danger" *ngIf="cardForm?.controls['Line1']?.hasError('required') && (cardForm?.controls['Line1']?.dirty || cardForm?.controls['Line1']?.touched)">This field is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="" class="a_form_label">City</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="" type="text" [ngClass]="{'has-error':!cardForm?.controls['City']?.valid && cardForm?.controls['City']?.touched}"
                            [formControl]="cardForm?.controls['City']">
                        <span class="text-danger" *ngIf="cardForm?.controls['City']?.hasError('required') && (cardForm?.controls['City']?.dirty || cardForm?.controls['City']?.touched)">This field is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="" class="a_form_label">State</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="" type="text" [ngClass]="{'has-error':!cardForm?.controls['Province']?.valid && cardForm?.controls['Province']?.touched}"
                            [formControl]="cardForm?.controls['Province']">
                        <span class="text-danger" *ngIf="cardForm?.controls['Province']?.hasError('required') && (cardForm?.controls['Province']?.dirty || cardForm?.controls['Province']?.touched)">This field is required</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="a_form_label">ZIP</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="" type="text" [ngClass]="{'has-error':!cardForm?.controls['PostalCode']?.valid && cardForm?.controls['PostalCode']?.touched}"
                            [formControl]="cardForm?.controls['PostalCode']">
                        <span class="text-danger" *ngIf="cardForm?.controls['PostalCode']?.hasError('required') && (cardForm?.controls['PostalCode']?.dirty || cardForm?.controls['PostalCode']?.touched)">This field is required</span>
                    </div>
                </div>
            </div>
            <h6 class="a_f_heading">Secure Payment Info</h6>
            <div class="row">
                <div class="col-12 mb-2">
                    <img alt="" src="/assets/images/visa-icons.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="" class="a_form_label">Card Number</label>
                    <div class="form-group">
                        <input [formControl]="cardForm?.controls['Number']" type="text" class="form-control cardInput" placeholder="" [ngClass]="{'has-error':!cardForm?.controls['Number']?.valid && cardForm?.controls['Number']?.touched}">
                        <span class="text-danger" *ngIf="cardForm?.controls['Number']?.hasError('required') && (cardForm?.controls['Number']?.dirty || cardForm?.controls['Number']?.touched)">This field is required</span>
                        <span class="text-danger" *ngIf="cardForm?.controls['Number']?.hasError('pattern') && (cardForm?.controls['Number']?.dirty || cardForm?.controls['Number']?.touched)">Only numbers are allowed</span>
                        <span class="text-danger" *ngIf="(cardForm?.controls['Number']?.hasError('minlength') || cardForm?.controls['Number']?.hasError('maxlength')) && (cardForm?.controls['Number']?.dirty || cardForm?.controls['Number']?.touched)">
                            Please enter 16 numbers printed on your card</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="" class="a_form_label">MM/YY</label>
                    <div class="form-group">
                        <input [formControl]="cardForm?.controls['ExpirationDate']" type="text" class="form-control" placeholder="" [ngClass]="{'has-error':!cardForm?.controls['ExpirationDate']?.valid && cardForm?.controls['ExpirationDate']?.touched}">
                        <span class="text-danger" *ngIf="cardForm?.controls['ExpirationDate']?.hasError('required') && (cardForm?.controls['ExpirationDate']?.dirty || cardForm?.controls['ExpirationDate']?.touched)">This field is required</span>
                        <span class="text-danger" *ngIf="cardForm?.hasError('invalidExpiry') && !cardForm?.controls['ExpirationDate']?.hasError('required') && (cardForm?.controls['ExpirationDate']?.dirty || cardForm?.controls['ExpirationDate']?.touched)">Please enter a valid expire date with format (MM/YY)</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="a_form_label">CVC</label>
                    <div class="form-group">
                        <input [formControl]="cardForm?.controls['Verification']" type="text" class="form-control" placeholder="" [ngClass]="{'has-error':!cardForm?.controls['Verification']?.valid && cardForm?.controls['Verification']?.touched}">
                        <span class="text-danger" *ngIf="cardForm?.controls['Verification']?.hasError('required') && (cardForm?.controls['Verification']?.dirty || cardForm?.controls['Verification']?.touched)">This field is required</span>
                    </div>
                </div>
            </div>
        </form>

        <div class="text-right my-3">
            <button class="btn a_m_btn a_right_icon a_green ng-star-inserted" type="buttton" (click)="upgradeSubscription()">UPGRADE SUBSCRIPTION</button>
        </div>
    </div>


</section>