@import '../../theme/sass/auth';
:host {
    .a_session_history_section {
        .a_back {
            font-size: 22px;
            color: #60a0d6;
            font-weight: bold;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 15px;
            img {
                margin-right: 10px;
                margin-top: -3px;
            }
        }
    }
    .a_sh_block {
        border-radius: 7px 7px 0 0;
        border-top: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        .a_sh_row {
            padding: 34px 26px 34px 26px;
            border-top: 1px solid #dbdddf;
            border-bottom: 1px solid #eaeef1;
            position: relative;
            .a_sh_date {
                position: relative;
                padding-left: 75px;
                float: left;
                padding-top: 10px;
                figure {
                    margin: 0;
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    left: 0;
                    top: -11px;
                    width: 56px;
                    height: 56px;
                    text-align: center;
                    display: table;
                    img {}
                    span {
                        display: table-cell;
                        vertical-align: middle;
                        width: 100%;
                        height: 100%;
                        background-color: #d8d8d8;
                        font-size: 24px;
                        font-weight: bold;
                        color: #fff;
                    }
                }
                h4 {
                    font-size: 17px;
                    color: #7291b5;
                    font-weight: bold;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
            .a_sh_btns {
                float: right;
                li {
                    float: left;
                    border-right: 1px solid #bedffa;
                    padding-right: 15px;
                    margin-right: 15px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    .a_open_btn {
                        color: #60a0d6;
                        font-size: 15px;
                        font-weight: normal;
                        padding: 8px 20px;
                        background-color: transparent;
                        border-color: #7291b5;
                        text-transform: capitalize;
                        min-width: 110px;
                    }
                    .a_open_btn:hover {
                        opacity: 0.7;
                    }
                }
                li:last-child {
                    margin-right: 0;
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
        .a_sh_row:first-of-type {
            border-top: none;
        }
        .a_sh_row:last-of-type {
            border-bottom: none;
        }
    }
    .y_session_btn {
        color: #fff;
        font-weight: normal;
        padding: 8px 20px;
        background-color: #003a70;
        font-size: 15px;
    }
    @media screen and (max-width: $resM) {
        .a_sh_block {
            .a_sh_row {
                padding: 15px;
                .a_sh_date {
                    padding-left: 50px;
                    padding-top: 13px;
                    figure {
                        top: 0;
                        width: 40px;
                        height: 40px;
                        span {
                            font-size: 16px;
                        }
                    }
                    h4 {
                        font-size: 14px;
                    }
                }
                .a_sh_btns {
                    li {
                        .a_open_btn {
                            font-size: 14px;
                            padding: 7px 14px;
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: $resXXS) {
        .a_sh_block {
            .a_sh_row {
                padding: 10px;
                .a_sh_date {
                    padding-bottom: 20px;
                }
                .a_sh_btns {
                    float: none;
                    clear: both;
                    text-align: center;
                    li {
                        float: none;
                    }
                }
            }
        }
    }
}